/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@font-face {
  font-family: 'Aeonik';
  src: url('https://www.threekit.com/hubfs/New%20Branding%20Images/Fonts/Aeonik-Medium.ttf')
      format('tff'),
    url('https://www.threekit.com/hubfs/New%20Branding%20Images/Fonts/Aeonik-Regular.woff')
      format('woff');
}

p {
  font-family: Aeonik, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.8rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Aeonik, sans-serif;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
  color: #000;
  letter-spacing: 0px;
  text-transform: none;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}

main > div {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 20px;
}

.mainalt {
  background: #b2c980;
}

.supertitle {
  font-size: 100px;
  line-height: 120px;
  font-weight: 600;
  margin-bottom: 0;
}

.titlebanner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  background-image: url('../../static/img/treble-background.jpg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  padding: 80px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cardsarea {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;

  padding: 80px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.gettingstarted {
  margin-top: 80px;
}

.gettingstarted__title {
  text-align: center;
  font-size: 64px;
}

.gettingstarted__subtitle {
  text-align: center;
}

.gettingstarted__actions {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;

  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.gettingstarted__actions > div:nth-child(2) {
  margin-top: 80px;
}

.gettingstarted__action {
  padding: 30px 40px !important;
  cursor: pointer;
  transition: all 0.16s ease-in-out !important;
  text-align: center;
  height: max-content;
  background: #f4f4f4 !important;
  border-radius: 3px;
}

.gettingstarted__action img {
  transition: all 0.16s ease-in-out !important;
  height: 160px;
}

.gettingstarted__action p {
  text-align: right;
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 0;
  transition: all 0.16s ease-in-out !important;
}

.gettingstarted__action:hover p {
  color: var(--ifm-navbar-link-hover-color);
}

.gettingstarted__action:hover h3 {
  color: var(--ifm-navbar-link-hover-color);
}

.gettingstarted__action h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  transition: all 0.16s ease-in-out !important;
}

.gettingstarted__action:hover {
  background: #f4f4f4 !important;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%) !important;
}

.gettingstarted__action:hover img {
  transform: scale(1.05);
}

.showcase {
  margin-top: 80px;
  padding: 80px 1rem;
  padding-top: 20px;
}

.showcase__title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

.showcase__subtitle {
  text-align: center;
}

.showcase__filters-title {
  font-size: 1.7rem;
  font-weight: 600;
}

.showcase__filters {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.showcase__filters-content {
  display: flex;
  flex-direction: row;
}

.showcase__filter-item {
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  line-height: 1.5;
  opacity: 0.85;
  padding: 0.275rem 0.8rem;
  transition: opacity 0.2s ease-out;

  width: max-content;
  margin-right: 0.4rem;
}

.showcase__content {
  background: #f6fdfd;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.showcase__content > div {
  max-width: 1320px;
  margin: 0 auto;

  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
