.card--wrapper {
  padding: 80px;
  background: #f4f4f4;
}

.card--image {
  padding-bottom: 40px;
}

.card--image svg {
  height: 140px;
  width: 140px;
}

.card--title {
  margin-bottom: 27px;
}

.card--description {
  margin-bottom: 27px;
}

.card--button {
}
