.treble-swatch-title > div:nth-child(1) {
  max-width: 250px;
}

.treble-swatch-title > div:nth-child(2) > div {
  border-top: 8px solid rgba(0, 0, 0, 0.6);
}

.treble-swatch:hover .treble-swatch-title {
  display: block;
}
